<div class="filter-panel">
    <h3 (click)="toggleFilterPanel()">Filtros
        <span class="arrow" [ngClass]="{'rotated': isFilterPanelOpen}">
            <i class="fa-solid fa-circle-chevron-down"></i>
        </span>
    </h3>

    <div *ngIf="isFilterPanelOpen">
        <div class="filter-section" *ngFor="let key of categoryKeys">
            <h4 (click)="toggleCategory(key)" [routerLink]="key">
                {{ key | titlecase }}
                <span class="arrow" [ngClass]="{'rotated': isCategoryOpen(key)}">
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </span>
            </h4>
            <div [ngClass]="{'subcategories': true, 'open': isCategoryOpen(key)}">
                <button class="subCategory" *ngFor="let subcategory of categories[key]"
                    (click)="filterBySubCategory(subcategory)">
                    {{ subcategory | titlecase }}
                </button>
            </div>
        </div>
        <button [routerLink]="['/productos', category]">Restablecer</button>
    </div>

</div>