
.filter-panel {
    width: 250px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 6px;
}
.filter-panel h3{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter-section .arrow {
    transition: transform 0.8s ease;
}

.filter-section .arrow.rotated {
    transform: rotate(90deg);
}

.subcategories {
    margin-left: 10px;
    max-height: 0;
    height: clamp(0);
    overflow-y: scroll;
    transition: max-height 0.8s ease;
    scrollbar-width: thin; /* Ancho del scroll, 'thin' para barras delgadas */
    scrollbar-color: #888 #f1f1f1; /* Color del thumb y del track */
}
.subcategories.open {
    max-height: 200px; /* Ajusta este valor según sea necesario */

}

.filter-section label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #666666;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -2px 4px #000;
}

button:hover {
    background-color: #353535;
    box-shadow: 0px 0px #000;
}

.subCategory{
    background-color: inherit;
    color: #000;
    box-shadow: none;
    padding: 0;
}
.subCategory:hover{
    background-color: inherit;
    color: aqua;
}


@media (width <= 1024px){
    .filter-panel{
        width: 210px;
    }
}


@media (width <= 480px){
    .filter-panel{
        width: 100vw;
        box-sizing: border-box;
    }
}