
.carousel-dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  z-index: 3;
}

.carousel-dots span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #eeeeee98;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: width 0.5s ease;
  box-shadow: 1px 1px 5px #343434;
}

.carousel-dots .active-dot {
  width: 100px;
  box-sizing: border-box;
}

.carousel-dots .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffa0a0;
  animation: progress 5s linear infinite;
}

@keyframes progress {
  0% { 
    width: 0%;
  }
  100% { 
    width: 100%; 
  }
}

.carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  aspect-ratio: 2.45 / 1;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: calc(100% + 30px);
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
}

.carousel-caption {
  position: absolute;
  color: white;
  padding: 10px;
  border-radius: 5px;
  top: 50%;
  left: 60px;
  width: 40%;
  display: flex;
  transform: translateY(-50%);
  flex-direction: column;
}

.carousel-caption :is(h3, p) {
  text-shadow: 2px 2px 8px #000;
  text-align: left;
}

.carousel-caption p {
  text-align: justify;
  font-size: 30px;
  margin: 0;
}

.carousel-caption h3 {
  margin: 0;
  padding: 0;
  font-size: 80px;
}

.carousel-caption button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 20px !important;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 10px;
  z-index: 4;
  width: auto;
  align-self: flex-start;
  white-space: nowrap;
}

.carousel-caption button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

button {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 15px 12px 15px;
  font-size: 40px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.active {
  animation: enter .8s ease 0s 1 normal forwards;
  z-index: 1;
}
.inactive {
  animation: leave .8s ease-out 0s 1 normal forwards;
  z-index: -1;
}

@keyframes enter {
	0% {
		opacity: 0.5;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes leave {
  40% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}


.text-active {
  opacity: 1;
  transition: opacity 1.6s ease-in-out;
  z-index: 1;
}

.text-inactive {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.left {
  border-radius: 0 10px 10px 0;
}

.right {
  border-radius: 10px 0 0 10px;
}

.carousel-caption .image-btn {
  font-size: 20px;
}

@media (width < 480px){
  .carousel-inner{
    /* aspect-ratio: none; */
    width: 100%;
    height: 80vh;
  }
  .carousel-caption{
    width: 65%;
    bottom: 0;
    left: 0;
    top: auto;
    padding: 0 27% 10% 8%;
    background: linear-gradient(#35353500, #0000008f, #000000cf);
  }
  .carousel-caption h3{
    font-size: 45px;
  }
  .carousel-caption p{
    font-size: 17px;
  }
  .carousel-caption button{
    font-size: 17px;
  }
}
