<section id="testimonials">
    <div class="testimonials">
        <h2 class="title">Testimonios</h2>
        <div class="testimonial">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nulla. Inventore exercitationem corrupti soluta, est iure veritatis dolores dolorem voluptatum explicabo facilis nisi fugiat enim!</p>
            <div class="cita">
                <h4 class="name">Adrian Weiss</h4>
                <img src="../../../../assets/citas/adrian.jpg" alt="">
            </div>
        </div>
        <div class="testimonial">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nulla. Inventore exercitationem corrupti soluta, est iure veritatis dolores dolorem voluptatum explicabo facilis nisi fugiat enim!</p>
            <div class="cita">
                <h4 class="name">Leonardo Ferrari</h4>
                <img src="../../../../assets/citas/leo.jpg" alt="">
            </div>
        </div>
        <div class="testimonial">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nulla. Inventore exercitationem corrupti soluta, est iure veritatis dolores dolorem voluptatum explicabo facilis nisi fugiat enim!</p>
            <div class="cita">
                <h4 class="name">Horacio Diaz</h4>
                <img src="../../../../assets/citas/horacio.jpg" alt="">
            </div>
        </div>
        <div class="testimonial">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nulla. Inventore exercitationem corrupti soluta, est iure veritatis dolores dolorem voluptatum explicabo facilis nisi fugiat enim!</p>
            <div class="cita">
                <h4 class="name">Esteban</h4>
                <img src="../../../../assets/citas/esteban.jpg" alt="">
            </div>
        </div>
    </div>
</section>