.testimonials {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas, una para el título y otra para los testimonios */
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
    gap: 0 20px; /* Espacio entre los elementos */
    width: 75%;
    margin: 0 auto;
  }
  
  .title {
    grid-column: 1 / -1; /* El título ocupa todas las columnas */
    margin: 10px;
    font-size: 40px;
  }
  
  .testimonial{
    height: 250px;
    /* border: 2px solid #ffa3f7; */
    text-align: justify;
    padding: 10px 25px;
  }

  .fa-quote-left{
    font-size: 40px;
  }

  .cita{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.cita h4{
  display: inline;
}

.cita img{
  height: 30px;
  border-radius: 50%;
  aspect-ratio: 1;
}

@media (width < 480px){
  #testimonials{
    height: 75vh;
  }
  .testimonials{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0;
  }
  .title{
    font-size: 30px;
    margin: 5px;
  }
  .testimonial{
    padding: 0;
    margin: 5px 15px;
    height: auto;
  }
  .testimonial p{
    margin: 10px 0;
  }
  .fa-quote-left{
    font-size: 30px;
  }
}
