
<div class="modal-backdrop" *ngIf="create || edit"></div>
<div class="modal" *ngIf="create || edit">
  <div class="form-container">
    <h2>{{ create ? 'Agregar' : 'Editar' }} Producto</h2>
    <form #form="ngForm" (ngSubmit)="SendItem(form)" class="product-form">
      <div class="form-group">
        <label for="nombre"><i class="fa-solid fa-pencil"></i> Nombre:</label>
        <input id="nombre" name="nombre" ngModel required>
      </div>
      <div class="form-group">
        <label for="categoria"><i class="fa-solid fa-pencil"></i> Categoría:</label>
        <input id="categoria" name="categoria" ngModel required>
      </div>
      <div class="form-group">
        <label for="precio"><i class="fa-solid fa-dollar-sign"></i> Precio:</label>
        <input id="precio" name="precio" type="number" ngModel required>
      </div>
      <div class="form-group">
        <label for="imagenes"><i class="fa-solid fa-image"></i> Imágenes:</label>
        <div class="file-select">
          <input id="imagenes" name="imagenes" type="file" multiple (change)="onFileSelected($event)">
        </div>
        <div *ngIf="selectedImages.length > 0" class="images-group">
          <div *ngFor="let image of selectedImages" class="images-item">
            <img [src]="image">
            <button class="cancel-button" type="button" (click)="removeImage(image)"><i style="color: red;" class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="tamaño"><i class="fa-solid fa-socks"></i> Tamaños (opcional):</label>
        <input id="tamaño" name="tamaño" ngModel>
      </div> -->
      <div class="form-group">
        <label for="tapizados"><i class="fa-solid fa-socks"></i> Tapizados (opcional):</label>
        <input id="tapizados" name="tapizados" ngModel>
      </div>
      <div class="form-group checkbox-group">
        <label for="inStock">
          <input id="inStock" name="inStock" type="checkbox" ngModel>
          En stock
        </label>
      </div>
      <div class="button-group">
        <button type="submit" class="submit-button">{{ create ? 'Agregar' : 'Guardar' }}</button>
        <button type="button" class="cancel-button" (click)="cerrarForm()">Cerrar</button>
      </div>
    </form>
  </div>
</div>
