<div class="modal-backdrop" *ngIf="create || edit"></div>
<div class="modal" *ngIf="create || edit">
  <div class="form-container">
    <h2>{{ create ? 'Agregar' : 'Editar' }} Producto</h2>
    <form #form="ngForm" (ngSubmit)="SendItem(form)" class="product-form">
      <div class="form-group">
        <label for="nombre"><i class="fa-solid fa-pencil"></i> Nombre:</label>
        <input id="nombre" name="nombre" ngModel required>
      </div>
      <div class="form-group">
        <label for="categoria"><i class="fa-solid fa-pencil"></i> Categoría:</label>
        <input id="categoria" name="categoria" ngModel required>
      </div>
      <div class="form-group">
        <label for="precio"><i class="fa-solid fa-dollar-sign"></i> Precio:</label>
        <input id="precio" name="precio" type="number" ngModel required>
      </div>
      <div class="form-group">
        <label for="imagenes"><i class="fa-solid fa-image"></i> Imágenes:</label>
        <input id="imagenes" name="imagenes" ngModel required>
        <!-- <input type="file" (change)="onFileSelected($event)"> -->
      </div>
      <div class="form-group">
        <label for="tapizados"><i class="fa-solid fa-socks"></i> Tapizados (opcional):</label>
        <input id="tapizados" name="tapizados" ngModel>
      </div>
      <div class="form-group checkbox-group">
        <label for="inStock">
          <input id="inStock" name="inStock" type="checkbox" ngModel>
          <i class="fa-solid fa-cubes"></i> En Stock
        </label>
      </div>
      <div class="form-group">
        <label for="tamaño"><i class="fa-solid fa-expand"></i> Tamaño (opcional):</label>
        <input id="tamaño" name="tamaño" ngModel>
      </div>
      <div class="form-group button-group">
        <button type="submit" class="submit-button">{{ create? "Agregar" : "Guardar"}}</button>
        <button type="button" class="cancel-button" (click)="create = false; edit = false">Cancelar</button>
      </div>
    </form>
  </div>
</div>
