<div class="order-history" *ngIf="!loading">
    <h2>Mis Pedidos</h2>

    <table *ngIf="orders.length > 0; else withOut">
      <thead>
        <tr>
          <th>ID Pedido</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Total</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td data-label="ID Pedido: ">{{ order.orderId }}</td>
          <td data-label="Fecha: ">{{ getDate(order)| date: 'dd/MM/yyyy' }}</td>
          <td data-label="Estado: ">{{ order.status == 'pending' ? 'Pendiente' : order.status == 'processing' ? 'En Proceso' : order.status == 'shipped' ? 'Enviado' : order.status == 'delivered' ? 'Entregado' : 'Cancelado' }}</td>
          <td data-label="Total: ">${{ order.total | number: '1.2-2' }}</td>
          <td data-label="Detalles: ">
            <button (click)="viewDetails(order)">Ver Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #withOut>
      <p style="margin-top: 50px;">Aun no ha realizado ningun pedido!!!</p>
    </ng-template>
  </div>
  <app-order-details *ngIf="selectedOrder != null" [selectedOrder]="selectedOrder" (close)="selectedOrder = null"></app-order-details>
