<div class="snap-section product">
    <ng-template #Cargando>
      <!-- <div class="cargando">
        Cargando...
      </div> -->
      <app-product-skeleton></app-product-skeleton>
    </ng-template>
    <div class="product-container" *ngIf="!loading; else: Cargando">
        <div class="thumbnail-images">
            <img *ngFor="let image of product.imagenes" [src]="image" alt="Product Thumbnail"
                (click)="selectImage(image)" class="thumbnail-image">
        </div>
            <img [src]="selectedImage" alt="Product Image" class="main-image">

        <div class="product-details">
            <h1 class="product-name">{{ product.nombre | titlecase }}</h1>
            <p class="product-price">{{ formatPrice(product.precio) }}</p>
            <p class="stock" *ngIf="product.inStock; else Pedido">En stock</p>
            <ng-template #Pedido><p class="stock">A pedido <i class="fa-regular fa-clock"></i></p></ng-template>
            <div class="buttons">
                <button (click)="addToCart(product)" class="btn add-to-cart-btn">Añadir al Carrito <i class="fa-solid fa-cart-plus"></i></button>
                <button class="btn add-to-favorite-btn">Añadir a Favoritos <i class="fa-solid fa-heart"></i></button>
            </div>
        </div>
    </div>
</div>
