.product-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  animation: intro .5s ease 0s 1 normal forwards;
  height: 80vh;
  min-height: 80vh;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cargando{
  height: 80vh;
  display: flex;
  align-items: center;
}

.main-image {
  min-width: 650px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 5px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
  /* margin-top: 10px; */
  flex-direction: column;
}

.thumbnail-image {
  width: 70px;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
}

.thumbnail-image:hover {
  border-color: #0000004d;
}

.product-details {
  flex: 0;
  text-align: left;
  min-width: 400px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.product-name {
  font-size: 50px;
  margin: 15px 0;
}

.product-price {
  font-size: 40px;
  color: #292929;
  margin: 10px 0;
  font-weight: 600;
}

.product-description {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: justify;
}
.product-description span{
  display: block;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  padding-bottom: 5px;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.btn{
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

.add-to-cart-btn {
  background-color: #28a745;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}

.add-to-favorite-btn{
  background-color: #7f7f7f;
  text-decoration: none;
  color: #fff;
}

.add-to-favorite-btn:visited{
  color: #fff;
}

.add-to-favorite-btn:hover{
  background-color: #5b5b5b;
}

.stock{
  font-weight: 600;
  text-transform: capitalize;
}


@media (width <= 1600px){
  .product-name{
    font-size: 40px;
  }
  .product-description{
    font-size: 15px;
  }
}


@media (width <= 1030px){
  .main-image{
    min-width: 400px;
    max-width: 480px;
  }
  .product-details{
    min-width: 360px;
  }
  .product-name{
    font-size: 30px;
  }
  .product-price{
    font-size: 30px;
  }
  .product-description{
    font-size: 12px;
  }
  .btn{
    font-size: 12px;
    padding: 8px 12px;
  }
}

@media (width <= 768px){
  .main-image{
    min-width: 211px;
    width: 376px;
    height: 362px;
  }
  .product-details{
    min-width: 215px;
  }
  .product-name{
    font-size: 22px;
  }
  .product-price{
    font-size: 22px;
  }
  .product-description{
    font-size: 10px;
  }
  .btn{
    font-size: 10px;
    padding: 6px 10px;
  }
  .stock{
    font-size: 10px;
  }
}

@media (width <= 480px){
  .product-container{
    display: grid;
    grid-template-areas:
        "imagenes imagen imagen"
        "imagenes imagen imagen"
        "detalles detalles detalles";
    height: auto;
    padding-top: 10px;
  }

  .main-image{
    grid-area: imagen;
    width: 300px;
    height: 300px;
  }

  .thumbnail-images{
    grid-area: imagenes;
    height: 300px;
  }
  .thumbnail-image{
    width: 50px;
  }

  .product-details{
    grid-area: detalles;
    height: 380px;
  }

  .product-name, .product-price{
    font-size: 30px;
  }
  .product-description{
    font-size: 13px;
  }

  .buttons{
    flex-direction: row;
    justify-content: space-between;
  }

  .btn{
    font-size: 14px;
    padding: 8px 13px;
  }
  .stock{
    font-size: 13px;
  }
}