

.product-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .product-images {
    display: flex;
    flex-direction: column;
  }
  
  .main-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .thumbnail-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .thumbnail-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  
  .thumbnail-image:hover {
    border-color: #0000004d;
  }
  
  .product-details {
    flex: 0;
    text-align: left;
    min-width: 280px;
  }
  
  .product-name {
    font-size: 35px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 20px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .product-description {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .product-options {
    margin-bottom: 20px;
  }
  
  .product-colors {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .product-colors label{
    margin: auto 0;
  }

  .color-option {
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    cursor: pointer;
    align-items: center;
  }
  
  .color-option.selected {
    border-color: #000;
  }
  
  .product-sizes select {
    padding: 5px;
  }
  
  .add-to-cart-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #218838;
  }
  
  .product-tags {
    margin-top: 20px;
  }
  
  .tag {
    background-color: #eee;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
  }
  
  .color-option button.active {
    background-color: #000;
    color: #fff;
  }
  
  .color-option button {
    padding: 10px;
    /* margin: 5px; */
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .color-option button:hover {
    background-color: #ddd;
    color: #000;
  }
  