.product-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  animation: intro .5s ease 0s 1 normal forwards;
  height: 80vh;
  min-height: 80vh;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cargando{
  height: 80vh;
  display: flex;
  align-items: center;
}

.main-image {
  width: 650px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 5px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
  /* margin-top: 10px; */
  flex-direction: column;
}

.thumbnail-image {
  width: 70px;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
}

.thumbnail-image:hover {
  border-color: #0000004d;
}

.product-details {
  flex: 0;
  text-align: left;
  min-width: 400px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.product-name {
  font-size: 50px;
  margin: 15px 0;
}

.product-price {
  font-size: 40px;
  color: #292929;
  margin: 10px 0;
  font-weight: 600;
}

.product-description {
  margin-bottom: 20px;
  font-size: 15px;
  text-align: justify;
}
.product-description span{
  display: block;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  padding-bottom: 5px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
.btn{
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

.add-to-cart-btn {
  background-color: #28a745;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}

.add-to-favorite-btn{
  background-color: #ff7df8;
}

.add-to-favorite-btn:hover{
  background-color: #b601ad;
}

.stock{
  font-weight: 600;
  text-transform: capitalize;
}

.color-option button{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: color .3s , background-color .3s ;
}

.active{
  background-color: #006b8b;
  color: #fff;
}
