
.list{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    margin: 0 20px 20px;
	box-sizing: border-box;
}

.cardAnimation{
    animation: intro 1s ease 0s 1 normal forwards;
}
@keyframes intro {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@media (width <= 1024px){
	.list{
		gap: 10px;
    	grid-template-columns: repeat(3, auto);
		margin:0 10px;
	}
}

@media (width <= 425px){
    .list{
		gap: 10px;
    	grid-template-columns: repeat(2, 1fr);
		margin: 10px;
	}
}