/* h1{
    text-align: center;
    color: #303030;
    font-family: "Sacramento", sans-serif;
    font-size: 70px;
    margin: 10px;
    color:#2c2c2c;
    font-weight: 500;
} */

.logo{
    aspect-ratio: 1.8 /1  ;
    height: 150px;
}

.header{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 10px;
}

.header-list{
    display: flex;
    gap: 15px;
    position: relative;
    align-items: center;
}

.header-list-item{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    color: #3e3e3e;
}

.header-list-item:hover{
    color: #1c1c1c;
    text-shadow: 1px 1px 3px #cccccc;
}

.header-list-item:nth-child(3), .header-list-item:nth-child(4){
    font-size: 22px;
}