<div class="header">
    <ul class="header-list">
        <li routerLink="/login" class="header-list-item"><i class="fa-solid fa-user"></i> Acceder</li>
    </ul>
    <!-- <h1>Atrezo Props y Fondos</h1> -->
    <img routerLink="" class="logo" src="../../../assets/logo.png" alt="Atrezo Props y Fondos">
    <ul class="header-list">
        <li class="header-list-item"><i class="fa-solid fa-magnifying-glass"></i> Buscar</li>
        <li routerLink="mi-carrito" class="header-list-item"><i class="fa-solid fa-cart-shopping"></i> Carrito</li>
        <li class="header-list-item"><i class="fa-brands fa-whatsapp"></i></li>
        <li class="header-list-item"><i class="fa-brands fa-instagram"></i></li>
    </ul>
</div>