.card{
    height: 365px;
    width: 250px;
    color: #383838;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    animation-duration: 1s;

    cursor: pointer;
    padding-bottom: 5px;
    transition: color .5s ease;
    background-color: #fff;
    border-radius: 10px;

}

figure{
    overflow: hidden;
    width: 100%;
    height: 70%;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

figure img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    outline: 3px solid #fff;
    outline-offset: -10px;
    transform: scale(1);
    transition: transform 1000ms;
    border-radius: 10px 10px 0 0;
    position: relative;
}

figure .stock{
    position: absolute;
    z-index: 1;
    top: -16px;
    right: 0px;
    box-shadow: -4px 8px 11px -4px #000;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 0 10px;
}

.text h4{
    margin: 10px 8px;
    font-size: 20px;
    color: #000;
}


.card:hover figure img{
    transform: scale(1.07);

}

.text p{
    margin: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 10px 15px;
}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-weight: 600;
    transition: background-color 0.3s ease-in;
    margin: 0 10px 15px;
}
.text button:hover{
    background-color: #979797;
}

@keyframes show {
    from{
        opacity: 0;
        /* scale: 25%; */
        transform: translateX(25%);

    }

    to{
        opacity: 1;
        /* scale: 100%; */
        transform: translateX(0%);
    }
}