.card{
    height: 350px;
    width: 250px;
    color: #383838;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
    cursor: pointer;
}

.card img{
    width: 100%;
    object-fit: cover;
    height: 80%;
    outline: 3px solid #fff;
    outline-offset: -10px;
}

.card h4{
    margin: 8px;
}

.card:hover{
    color: #000000;
}

.card p{
    margin:0;
}

@keyframes show {
    from{
        opacity: 0;
        /* scale: 25%; */
        transform: translateX(25%);

    }

    to{
        opacity: 1;
        /* scale: 100%; */
        transform: translateX(0%);
    }
}