<div class="snap-container">
  
  <section id="carrusel" class="snap-section">
    <app-carousel></app-carousel>
  </section>
  <section class="snap-section new-offers">
    <div class="new-props">
      <h2 class="texto">Props</h2>
      <img src="../../../assets/aro1.jpg" alt="">
    </div>
    <div class="new-backdrops">
      <h2 class="texto">Fondos</h2>
      <img src="../../../assets/fondo-bosque.jpg" alt="">
    </div>
    <div class="offers-props">
      <h2 class="texto">Decos</h2>
      <img src="../../../assets/hamaca1.jpg" alt="">
    </div>
  </section>
</div>