<section id="by-categories" class="snap-section">
    <div class="byCategories">
        <h2 class="title">Nuestras Decoraciones</h2>
        <div class="category uno">
            <h3 class="texto">Navidad</h3>
            <img src="../../../../assets/navidad.jpg" alt="">
        </div>
        <div class="category dos">
            <h3 class="texto">Pascuas</h3>
            <img src="../../../../assets/pascua.jpg" alt="">
        </div>
        <div class="category tres">
            <h3 class="texto">Otoño</h3>
            <img src="../../../../assets/otono.jpg" alt="">
        </div>
        <div class="category cuatro">
            <h3 class="texto">Playa</h3>
            <img src="../../../../assets/playa.jpg" alt="">
        </div>
        <div class="category cinco">
            <h3 class="texto">Newborn</h3>
            <img src="../../../../assets/newborn.jpg" alt="">
        </div>
        <div class="category seis">
            <h3 class="texto">Florales</h3>
            <img src="../../../../assets/floral.jpg" alt="">
        </div>
    </div>
</section>