<div class="testimonios">
  <h2>Testimonios</h2>
<button (click)="create = true">Agregar Testimonio</button>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Cita</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody *ngIf="testimonios.length > 0">
    <tr *ngFor="let testimonio of testimonios; let i = index" class="Animation">
      <td>{{ i+1 }}</td>
      <td>{{ testimonio.nombre }}</td>
      <td id="cita-skeleton">{{ testimonio.cita }}</td>
      <td class="buttons">
        <button (click)="edit = true; id = testimonio.id; setForm(testimonio)">Editar</button>
        <button class="eliminar" (click)="deleteTestimonio(testimonio.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Contenedor del formulario con sombreado -->
<div class="form-overlay" *ngIf="create || edit">
  <div class="form-container">
    <!-- Botón de cerrar -->
    <button class="form-close" (click)="create = false; edit = false;">&times;</button>
    
    <h2 *ngIf="create">Agregar Testimonio</h2>
    <h2 *ngIf="edit">Editar Testimonio</h2>

    <form #form="ngForm" (ngSubmit)="sendForm(form)">
      <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" name="nombre" ngModel required>
      </div>
      <div>
        <label for="cita">Cita:</label>
        <input id="cita" name="cita" ngModel required>
      </div>
      <button type="submit" class="submit-button">Agregar Testimonio</button>
      <button type="button" class="cancel-button" (click)="form.reset(); edit = false; create = false">Cancelar</button>
    </form>
  </div>
</div>


</div>