
<nav>
    <img routerLink="" class="logo" src="../../../assets/logo.png" alt="Atrezo Props y Fondos">
    <ul class="navbar-list">
        <li routerLink="productos/props" class="navbar-list-item">Props</li>
        <li routerLink="productos/fondos" class="navbar-list-item">Fondos</li>
        <li routerLink="productos/decos" class="navbar-list-item decoraciones"></li>
        <li routerLink="contacto" class="navbar-list-item">Contacto</li>
    </ul>
    <ul class="header-list">
        <li class="header-list-item"><i class="fa-solid fa-magnifying-glass"></i></li>
        <li routerLink="mi-carrito" class="header-list-item"><i class="fa-solid fa-cart-shopping"></i></li>
        <li class="header-list-item"><i class="fa-brands fa-whatsapp"></i></li>
        <li routerLink="/login" class="header-list-item"><i class="fa-solid fa-user"></i></li>
    </ul>
</nav>