
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky; /* Para compatibilidad con Safari */
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 3;
    background-color: #fff;
    z-index: 4;
}

.navbar-list{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
    gap: 40px;
    padding: 0;
    margin: 10px;
}

.navbar-list-item{
    list-style: none;
    color: #343434;
    font-size: 20px;
    cursor: pointer;
}

.navbar-list-item:hover{
    color: #2b2b2b;
    text-shadow: 1px 1px 3px #b9b9b9;
}

.logo{
    cursor: pointer;
}

.header-list{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.header-list-item{
    font-size: 20px;
    cursor: pointer;
}

.header-list-item:hover{
    color: #2b2b2b;
    text-shadow: 1px 1px 3px #b9b9b9;
}