#quick-contact {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 2fr;
    gap: 30px 30px;
    grid-template-areas:
        "title img"
        "message img";
    width: 75%;
    margin: 15px auto;
    height: 420px;
}

.img {
    grid-area: img;
    outline: 3px solid #fff;
    outline-offset: -15px;
}

.title {
    grid-area: title;
    margin: 0;
    font-size: 40px;
    text-align: start;
    padding: 25px;
}

.message {
    grid-area: message;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 104px;
    padding: 50px 0 0 0;
    /* Espacio entre los elementos */
}

.message a {
    width: 155px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 13px 10px 11px 10px;
    border-radius: 10px;
    box-shadow: -2px 4px #000;
}


.message a:hover {
    box-shadow: 0px 0px #000;
}

img {
    width: 97%;
    height: 100%;
}

.fa-facebook {
    color: #1b00b1;
}

.fa-whatsapp {
    color: #009200;
}

.fa-instagram {
    /* font-size: 48px; */
    font-weight: bold;
    background: linear-gradient(to right, #f58529, #dd2a7b, #8134af, #515bd4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}