<section id="quick-contact">
    <h2 class="title">Conoce más de nosotros en nuestras redes sociales</h2>
    <div class="message">
        <a href="https://wa.me/+5493755274555"><i class="fa-brands fa-whatsapp"></i> +54 375 5274 555</a>
        <a href="https://www.facebook.com/atrezofondos"><i class="fa-brands fa-facebook"></i> Atrezo Fondos</a>
        <a href="https://www.facebook.com/atrezoprops"><i class="fa-brands fa-facebook"></i> Atrezo Props</a>
        <a href="https://www.instagram.com/atrezofondos/"><i class="fa-brands fa-instagram"></i> Atrezo Fondos</a>
        <a href="https://www.instagram.com/atrezoprops/"><i class="fa-brands fa-instagram"></i> Atrezo Props</a>
    </div>
    <img class="img" src="../../../../assets/carpinteria.jpeg" alt="nuestra carpinteria" loading="lazy">
</section>