.app-container {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-sidebar {
  width: 250px;
  background-color: #002c5b;
  min-height: 100svh;
  box-shadow: 2px 0 5px #0000001a;
}

/* Estilo para el dashboard */
app-dashboard {
  flex: 1; /* Ocupa todo el espacio restante */
  background-color: #fff; /* Fondo blanco para el dashboard */
  display: flex;
  flex-direction: column;
}