<div class="skeleton-container">
  <div class="skeleton-thumbnail-images">
    <div class="skeleton skeleton-thumbnail"></div>
    <div class="skeleton skeleton-thumbnail"></div>
    <div class="skeleton skeleton-thumbnail"></div>
  </div>
  <div class="skeleton skeleton-main-image"></div>
  <div class="skeleton-details">
    <div class="skeleton skeleton-text skeleton-name"></div>
    <div class="skeleton skeleton-text skeleton-price"></div>
    <div class="skeleton skeleton-text skeleton-stock"></div>
    <div class="skeleton-buttons">
      <div class="skeleton skeleton-button"></div>
      <div class="skeleton skeleton-button"></div>
    </div>
  </div>
</div>
