<section id="categories" class="snap-section">
    <h2 class="title">Categorias</h2>
    <div class="new-offers">
      <div class="poster new-props" routerLink="/productos/props">
        <h2 class="texto">Props</h2>
        <img src="../../../assets/cillita1.jpg" alt="props" loading="lazy">
      </div>
      <div class="poster new-backdrops" routerLink="/productos/fondos">
        <h2 class="texto">Fondos</h2>
        <img src="../../../assets/fondo-otoño.jpg" alt="fondos" loading="lazy">
      </div>
      <div class="poster offers-props" routerLink="/productos/decos">
        <h2 class="texto">Decos</h2>
        <img src="../../../assets/hamaca1.jpg" alt="decoraciones" loading="lazy">
      </div>
    </div>
  </section>