.products{
    display: grid;
    grid-template-areas: 
    "... titulo titulo"
    "filters product-list product-list";
    align-content: start;
}

h2{
    text-align: center;
    grid-area: titulo;
    font-size: 40px;
}

li{
    list-style: none;
    text-align: left;
}

.filters{
    grid-area: filters;
    width: 300px;
}

.product-list{
    grid-area: product-list;
    width: auto;
}
