.products{
    display: grid;
    grid-template-areas: 
    "... titulo titulo"
    "filters product-list product-list";
    align-content: start;
    
}

h2{
    text-align: center;
    grid-area: titulo;
    font-size: 40px;
}

li{
    list-style: none;
    text-align: left;
}

.filters{
    grid-area: filters;
}

.product-list{
    grid-area: product-list;
    width: auto;
    box-sizing: border-box;
}

@media (width <= 1024px){
    .filters{
        width: auto;
    }
    h2{
        font-size: 32px;
    }
}


@media (width <= 425px){
    .products{
    grid-template-areas:
        "titulo titulo titulo"
        "filters filters filters"
        "product-list product-list product-list";
    }
    h2{
        font-size: 8vw;
        width: 100vw;
        margin: 10px 0;
    }
    .product-list{
        width: 100svw;
    }
}