<div class="admin-carousel">
  <h2>Administrar Imágenes del Carrusel</h2>
  
  <!-- Formulario para cargar una nueva imagen -->
  <form (ngSubmit)="onSubmit()" #imageForm="ngForm">
    <input type="file" (change)="onFileSelected($event)" required>
    <input type="text" placeholder="Título" [(ngModel)]="newImage.title" name="title" required>
    <input type="text" placeholder="Subtítulo" [(ngModel)]="newImage.subtitle" name="subtitle" required>
    <select [(ngModel)]="newImage.category" name="category" required>
      <option value="props">Props</option>
      <option value="decos">Decos</option>
      <option value="fondos">Fondos</option>
    </select>
    <button type="submit">Subir Imagen</button>
  </form>

  <!-- Lista de imágenes cargadas -->
  <div class="images-container">
    <div *ngFor="let image of images" class="image-item">
      <img [src]="image.ImageUrl" [alt]="image.title" loading="lazy">
      <p>{{ image.title }} - {{ image.subtitle }} - {{ image.category }}</p>
      <!-- <button class="edit-button" (click)="editImage(image)">Editar</button> -->
      <button class="delete-button" (click)="deleteImage(image)">Eliminar</button>
    </div>
  </div>
</div>
