<div class="order-checkout">
  <div class="sombra"></div>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <!-- Paso 1: Detalles de Contacto -->
    <div *ngIf="step === 1" formGroupName="contactDetails" class="step-header">
      <h3>Datos de Contacto</h3>
      <label>Nombre:
        <input formControlName="firstName" type="text" placeholder="Ingrese su nombre...">
      </label>
      <label>Apellido:
        <input formControlName="lastName" type="text" placeholder="Ingrese su apellido...">
      </label>
      <label>Email:
        <input formControlName="email" type="email" placeholder="Ingrese su correo electrónico">
      </label>
      <label>DNI:
        <input formControlName="dni" type="text" placeholder="Ingrese su número de documento">
      </label>
      <label>Teléfono:
        <div class="phone-container">
          <input class="phone-area" formControlName="phoneArea" type="text" placeholder="Código de área" maxlength="4">
          <input class="phone-number" formControlName="phoneNumber" type="text" placeholder="Número" maxlength="8">
        </div>
        <span class="phone-info" style="text-align: center;">Sin 0 ni 15</span>
      </label>

    </div>

    <!-- Paso 2: Detalles de Envío -->
    <div *ngIf="step === 2" formGroupName="shippingDetails" class="step-header">
      <h3>Datos de Envío</h3>
      <span>Nos pondremos en contacto con usted para coordinar el envio.</span>
      <label>Calle:
        <input formControlName="address" type="text">
      </label>
      <label>Número:
        <input formControlName="streetNumber" type="text">
      </label>
      <label>Piso:
        <input formControlName="floor" type="text">
      </label>
      <label>Departamento:
        <input formControlName="apartment" type="text">
      </label>
      <label>Ciudad:
        <input formControlName="city" type="text">
      </label>
      <label>Provincia:
        <input formControlName="province" type="text">
      </label>
      <label>Código Postal:
        <input formControlName="postalCode" type="text">
      </label>
      <p><strong>Importante:</strong>El costo de envío será informado al coordinar la entrega.</p>

    </div>

    <!-- Paso 3: Detalles de Pago -->
    <div *ngIf="step === 3" formGroupName="paymentDetails" class="step-header">
      <h3>Detalles de Pago</h3>
      <label>Método de Pago:
        <select formControlName="paymentMethod" #paymentMethod>
          <option value="credit_card">Tarjeta</option>
          <option value="transfer" selected="selected">Transferencia (10% de descuento)</option>
        </select>
      </label>

      <div *ngIf="paymentMethod.value == 'transfer'; else tarjeta">

        <p><strong>Banco: </strong>Mercado Pago</p>
        <p><strong>Nombre: </strong>Leonardo Tomas Ferrari</p>
        <p><strong>CUIL: </strong> 20354878535</p>
        <p><strong>ALIAS: </strong>leonardo.ferrari</p>
        <p><strong>CVU: 0000003100055903308100</strong></p>


        <label>
          Comprobante de Transferencia:
          <input type="file" (change)="onFileSelected($event)" />
        </label>

        <!-- Mostrar enlace al comprobante cargado -->
        <div *ngIf="fileUrl">
          <p>Archivo cargado: <a [href]="fileUrl" target="_blank">{{ fileName }}</a></p>
        </div>

      </div>
      <ng-template #tarjeta>
        <div>
          <p><strong>AVISO: </strong>Nos estaremos comunicando con usted para enviarle un link de pago.</p>
        </div>
      </ng-template>
    </div>

    <!-- Navegación entre pasos -->
    <div [ngClass]="step === 1 ? 'single-button' : 'navigation-buttons'">
      <button type="button" (click)="previousStep()" *ngIf="step > 1">Anterior</button>
      <button type="button" (click)="nextStep()" *ngIf="step < 3">Siguiente</button>
      <button type="submit" *ngIf="step === 3">Realizar Pedido</button>
    </div>

  </form>

  <div class="products">
    <div class="sombraproducts"></div>
    <h3>Tus Productos</h3>
    <ul>
      <li *ngFor="let product of cartProducts">
        <p>{{product.nombre}}: {{product.precio}}</p>
        <img [src]="product.imagenes[0]" [alt]="product.nombre" loading="lazy">
      </li>
      <li *ngIf="paymentMethod?.value === 'transfer'">
        Total: <span class="discounted">{{ formatPrice(getTotal()) }}</span> 
        <span class="original" style="text-decoration: line-through;">{{ formatPrice(getTotalsinDesc()) }}</span>
      </li>
      <li *ngIf="paymentMethod?.value !== 'transfer' && paymentMethod?.value !== null">
        Total: {{ formatPrice(getTotalsinDesc()) }}
      </li>
    </ul>
  </div>

</div>
