/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap);

*{
    font-family: 'Montserrat', sans-serif;
}

body, html{
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

h1,h2,h3,h4{
    font-family: "Yeseva One", serif;
}

.snap-container {
    height: calc(100vh - 96px);
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.snap-section {
    text-align: center;
    scroll-snap-align: start;
    min-height: 84dvh;
    width: 100%;
}

@media (width < 480px){
    body, html{
        width: 100vw !important;
    }
    .snap-container {
        height: calc(100vh - 130px);
        overflow-x: hidden;
    }
    .snap-section {
        width: 100vw;
        min-height: 76dvh;
    }
}