<footer>
    <div class="footer-column">
        <h5>Tienda</h5>
        <ul>
            <li routerLink="productos">Props</li>
            <li routerLink="productos">Fondos</li>
            <li routerLink="productos">Decoraciones</li>
            <li routerLink="contacto">Contacto</li>
        </ul>
    </div>
    <div class="footer-column">
        <h5>Redes Sociales</h5>
        <ul class="social-icons">
            <li><a href="https://wa.me/+5493755274555"><i class="fa-brands fa-facebook"></i> Atrezo Props</a></li>
            <li><a href="https://www.facebook.com/atrezofondos"><i class="fa-brands fa-facebook"></i> Atrezo Fondos</a>
            </li>
            <li><a href="https://www.facebook.com/atrezoprops"><i class="fab fa-instagram"></i> Atrezo Props</a></li>
            <li><a href="https://www.instagram.com/atrezofondos/"><i class="fab fa-instagram"></i> Atrezo Fondos</a>
            </li>
            <li><a href="https://www.instagram.com/atrezoprops/"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h5>Contacto</h5>
        <ul class="social-icons">
            <li><a href="https://maps.app.goo.gl/5T3Qi3uG9QqhPHoBA"><i class="fa-solid fa-location-dot"></i> Oberá,
                    Misiones, Argentina</a></li>
            <li><i class="fa-solid fa-phone"></i> Teléfono: +54 0375 527 4555</li>
            <li><a href="mailto:elcorreodeleo24@gmail.com?subject=Consulta%20Atrezo%20Web"><i
                        class="fa-regular fa-envelope"></i> Email: elcorreodeleo24@gmail.com</a></li>
        </ul>
    </div>
    <!-- Derechos de Autor -->
    <div class="footer-section copyright">
        <p>&copy; 2024 Atrezo Props y Fondos. Todos los derechos reservados. Desarrollado por Horacio Diaz</p>
    </div>
</footer>