<footer>
    <div class="footer-column">
        <h3>Tienda</h3>
        <ul>
            <li><a href="./">Props</a></li>
            <li><a href="./acerca.html">Fondos</a></li>
            <li><a href="./productos.html">Contacto</a></li>
            <li><a href="./contacto.html">Sobre Nosotros</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Redes Sociales</h3>
        <ul class="social-icons">
            <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Contacto</h3>
        <ul class="social-icons">
            <li><i class="fa-solid fa-location-dot"></i> Dirección: Calle Principal, Ciudad, País</li>
            <li><i class="fa-solid fa-phone"></i> Teléfono: +123456789</li>
            <li><i class="fa-regular fa-envelope"></i> Email: info@example.com</li>
        </ul>
    </div>
</footer>