footer {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 20px auto;
}

footer h5,
p {
    color: #383838;
    font-size: 25px;
    text-align: start;
}

.footer-column a {
    text-decoration: none;
}

.footer-column ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.footer-column a {
    color: inherit;
}

.footer-column ul > li {
    list-style: none;
    color: #1f1f1f;
    cursor: pointer;
    font-size: 20px;
}

.footer-column ul > li:hover {
    color: #161616;
    text-shadow: 1px 1px 3px #aeaeae;
}

.footer-column {
    margin: 0 auto;
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

/* Estilos específicos para la sección de copyright */
.footer-section.copyright {
    order: 1; /* Mover este elemento al final */
    flex-basis: 100%; /* Ocupa todo el ancho */
    text-align: center;
    margin-top: 20px;
}

.footer-section.copyright p{
    text-align: center;
    font-size: 15px;
}


@media (width < 480px){
    .footer-column{
        margin: 5px 10px;
    }
    .footer-column:nth-child(1){
        margin-right: 0;
    }
    .footer-column:nth-child(2){
        margin-left: 0;
    }
    .footer-column ul{
        gap: 10px;
    }
    .footer-column .cont{
        align-items: center;
    }
    footer{
        width: 100%;
        margin: 0;
        padding: 40px 0;
    }
    footer h5{
        margin: 20px 0;
    }
    .footer-column ul li{
        font-size: 17px;
    }
}