<div *ngIf="selectedOrder" class="ticket-overlay">
  <div class="ticket-container">
    <button class="close-button" (click)="closeTicket()"><i class="fa-solid fa-xmark"></i></button>
    <div class="ticket-header">
      <h3>Detalles del Pedido</h3>
    </div>
    <div class="ticket-details">
      <p><strong>ID Pedido:</strong> {{ selectedOrder.orderId }}</p>
      <p><strong>Fecha de Pedido:</strong> {{ getDate(selectedOrder) | date }}</p>
      <p><strong>Estado del Pedido:</strong> {{ selectedOrder.status | titlecase }}</p>
    </div>
    
    <div class="ticket-products">
      <h4>Productos</h4>
      <ul>
        <li *ngFor="let product of selectedOrder.products">
          {{ product.nombre }} - Precio: {{ formatPrice(product.precio) }}
        </li>
        <li>Total: {{ formatPrice(getOrderTotal()) }}</li>
      </ul>
    </div>
    
    <div class="ticket-details">
      <h4>Datos de Envío</h4>
      <p>{{ selectedOrder.shippingDetails.address }}, {{ selectedOrder.shippingDetails.city }}, {{ selectedOrder.shippingDetails.country }}</p>
      <h4>Datos de Pago</h4>
      <p><strong>Método:</strong> {{ selectedOrder.paymentDetails.method }}</p>
      <p><strong>Estado:</strong> {{ selectedOrder.paymentDetails.status | titlecase }}</p>
    </div>
  </div>
</div>
