.shoppingCart{
    display: flex;
    flex-direction: column;
    min-height: 75svh;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-height: 300px;
    margin-bottom: 15px;
}
th, td {
    padding: 8px;
    text-align: left;
    vertical-align: top; 
    border: 1px solid #ddd;
}
th {
    background-color: #484848;
    color: #fff;
}

tfoot td{
    text-align: right;
}

button{
    background-color: #008c13;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px #000;
    align-self: flex-end;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding: 3px 6px;
}

.delete{
    background-color: red;
    color: #f2f2f2;
    transform: translate(80%, 0);
}

.vacio{
    width: 400px;
    height: 75vh;
    margin: 25px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    align-content: center;
}

.vacio p{
    font-size: 20px;
}

.vacio button{
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #969696c5;
    transition: box-shadow .2s ease;
}
.vacio button:hover{
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #8b8b8b;
}

@media (width <= 480px ){
    .shoppingCart{
        width: 100vw;
        box-sizing: border-box;
        padding: 0 10px;
    }
    .vacio{
        width: auto;
        height: 55svh;
    }
}