.shoppingCart{

    /* height: 75vh; */
}

table {
    width: 100%;
    border-collapse: collapse;
    min-height: 300px;
}
th, td {
    padding: 8px;
    text-align: left;
    vertical-align: top; 
}
th {
    background-color: #f2f2f2;
}

tfoot td{
    text-align: right;
}

button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete{
    background-color: red;
    color: #f2f2f2;
}

.vacio{
    width: 400px;
    height: 75vh;
    margin: 25px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    align-content: center;
}

.vacio p{
    font-size: 20px;
}

.vacio button{
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #969696c5;
    transition: box-shadow .2s ease;
}
.vacio button:hover{
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #8b8b8b;
}
